html {

    margin: 0;

}

h1 {

    font-family: 'Poiret One', cursive;
    font-size: 120px;
    text-align: center;
    background-color: #b994e8;


}

h2 {

    text-align: center;
    font-size: 35px;

}

h3{

    padding-left: 30%;
    padding-right: 30%;

}

body {

    background-color: #e4e4e4;
    margin: 0;

}

figure{

    text-align: center;

}

figure p{

    font-weight: 1000;

}

footer{

    background-color: #b994e8;
    float: right;
    padding-right: 20px;
    position: relative;
    width: 100%;

}

footer p{

    text-align: right;

}

table {

    margin: 0;

}

ul{

    display: inline-block;
    list-style: square;
    text-align: left;

}

#cards-info{

    column-gap: 20px;
    display: flex;
    text-align: center;

}

#navbar {

    background-color: #b994e8;
    border-bottom: 10px solid #a574e5;;
    border-top: 10px solid #a574e5;
    overflow: hidden;

}

#navbar a{

    color: black;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;

}

#navbar a:hover{

    text-decoration: underline;

}

#self-image h3{

    margin: 10px 60px 10px 60px;
    text-align: center;
    font-weight: 400;

}

.card{

    background-color: #b994e8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    transition: 0.3s;
    width: 100%;


}

.card-title{

    text-align: center;

}

.column{

    flex: 50%;

}

.column img{

    width: 400px;
    height: 400px;

}

.card:hover{

    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);

}

.hobbie-images-row{

    display: flex;
    column-gap: 100px;
    align-items: center;
    margin-right: 20px;
    justify-content: center;
    text-align: center;

}

.logo{

    float: right;
    padding-right: 50px;
    height: 50px;
    width: 150px;

}

.school-pic img{

    width: 600px;
    height: 200px;

}

.self img{

    width: 400px;
    height: 400px;
    
}

.team{

    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.toby-grad img{

    width: 400px;
    height: 500px;

}

