html {

    margin: 0;

}

h1 {

    font-family: 'Poiret One', cursive;
    font-size: 120px;
    text-align: center;
    background-color: #8831FA;


}

h2 {

    text-align: center;
    font-size: 35px;

}

body {

    background-color: #990037;
    margin: 0;

}

figure{

    text-align: center;

}

figure p{

    font-weight: 1000;

}

footer{

    background-color: #8831FA;
    float: right;
    padding-right: 20px;
    position: relative;
    width: 100%;

}

footer p{

    text-align: right;

}

img {

    height: 400px;
    width: 400px;

}

table {

    margin: 0;

}

ul{

    list-style: none;

}

#hours-card-container{

    margin: 2% 5% 100px 5%;

}

#navbar {

    background-color: #990037;
    overflow: hidden;

}

#navbar a{

    color: black;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;

}

#navbar a:hover{

    text-decoration: underline;

}

#self-image h3{

    margin: 10px 60px 10px 60px;
    text-align: center;
    font-weight: 400;

}

.card{

    background-color:  #8831FA;
    box-shadow: 0 4px 8px black;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.3s;
    width: 40%;

}

.hour-card-content{

    font-size: 18px;
    padding: 2px 16px;
    text-align: center;

}

.hours-card-title{

    color:black;
    font-size: 2em;
    font-weight: 400;
    text-align: center;

}

.card:hover{

    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);

}



.hobbie-images-row{

    display: flex;
    column-gap: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.logo{

    float: right;
    padding-right: 50px;
    height: 50px;
    width: 150px;

}

.team{

    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

