html {

    margin: 0;

}

h1 {

    font-family: 'Poiret One', cursive;
    font-size: 120px;
    text-align: center;
    background-color: #8831FA;


}

h2 {

    text-align: center;
    font-size: 35px;

}

body {

    background-color: #990037;
    margin: 0;

}

table {

    margin: 0;

}

#navbar {

    background-color: #990037;
    overflow: hidden;

}

#navbar a{

    color: black;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;

}

#navbar a:hover{

    text-decoration: underline;

}